@using ToothCare.Domain.Entities;
@model AppointmentViewModel
@{
    ViewData["Title"] = "Appointments";
    ViewData["User"] = Model.User;
    ViewData["UserName"] = Model?.User?.GetFirstName() + " " + Model?.User?.GetLastName();
    ViewData["UserDesignation"] = Model?.User?.GetDesignation();

}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
@* <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> *@

<div class="body-container">
    <div class="top-section">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2 class="breadcrumb-header">
                Appointent
            </h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="Home/index">
                        <img src="~/assets/icons/home.png" height="22" alt="menu icon" class="img-responsive logo" data-toggle="tooltip" data-placement="top" title="Menu">
                    </a>
                </li>
                <li class="breadcrumb-item">Appointent</li>
            </ul>
        </div>
        <div class="add-button-container">
            <a href="javascript:void(0);" class="btn btn-css" data-toggle="modal" onclick="preAdd()">
                <img style="width:60px" src="/assets/icons/addNew.png" alt="buttonpng" border="0" data-toggle="tooltip" data-placement="top" title="Add New">
            </a>
        </div>
    </div>

    <div class="add-data-section" id="addDataSection">
        <form id="popupForm" asp-controller="Appointment" asp-action="FilteredView">
            <div class="from-group-inline">
                <div class="form-group">
                    <label for="Patient Name" class="form-label">Patient Name</label>
                    <input type="text" class="form-control" placeholder="Patient Name" asp-for="FilterName" >
                </div>
                <div class="form-group">
                    <label for="AppointmentId" class="form-label">Appointment Id</label>
                    <input type="text" class="form-control" asp-for="FilterID"  placeholder="Appointment Id" >
                </div>
                <div class="form-group">
                    <label for="DoctorId" class="form-label">Doctor</label>
                    @* <input id="doctorId" type="text" class="form-control" asp-for="DoctorId" placeholder="Doctor" required> *@
                    <select class="form-select" asp-for="FilterDoctorId" >
                        <option value="">-- Select --</option>
                        @foreach (var el in Model!.Doctors!)
                        {
                            <option value="@el.GetId()">@el.GetFirstName() @el.GetLastName()</option>
                        }
                    </select>
                </div>
            </div>
            <div class="from-group-inline">
                <div class="form-group">
                    <label for="Patient Name" class="form-label">From Date</label>
                    <input ype="datetime-local" class="form-control" placeholder="From Date" asp-for="FilterFromDate">
                </div>
                <div class="form-group">
                    <label for="AppointmentId" class="form-label">To Date</label>
                    <input ype="datetime-local" class="form-control" asp-for="FilterToDate" placeholder="To Date" >
                </div>
                
                
            </div>
            <div class="search-btn-container mt-3">
                <input class="search-btn" type="submit" value="Search" />
            </div>
        </form>
        
    </div>
    <div class="table-outer-container">
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Patient Name
                        </th>
                        <th>
                            Doctor Name
                        </th>
                        <th>
                            Treatment Name
                        </th>
                        <th>
                            Appointment Date
                        </th>
                        <th>
                            Duration
                        </th>
                        <th>
                            Confirmation
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Actons
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var b in Model!.AllList!)
                    {
                        var id = b.GetId();
                        var patientName = b!.patient!.GetFirstName() + " "+b!.patient!.GetLastName();
                        var doctorName = b!.doctor!.GetFirstName() + " " + b!.doctor!.GetLastName();
                        var treatmentName = b!.treatment!.GetName();
                        var duration = b.GetDuration();
                        var isConfirmed = b.GetIsConfirmed();
                        var isComplete = b.GetIsComplete();
                        var dateTime = b.GetDateTime();

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => patientName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => doctorName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => treatmentName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => dateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => duration) Min
                            </td>
                            <td>
                                @if (isConfirmed)
                                {
                                    <p class="text-success">Confirmed</p>
                                }
                                else
                                {
                                    <p class="text-danger">Pending</p>
                                }
                                @* @Html.DisplayFor(modelItem => isConfirmed) @Html.DisplayFor(modelItem => isComplete) *@
                            </td>
                            <td>
                                @if (isComplete)
                                {
                                    <p class="text-success">Complete</p>
                                }
                                else
                                {
                                    <p class="text-warning">Pending</p>
                                }
                            </td>
                            <td>
                                <div class="action-button-container">
                                    <div class="edit-btn">
                                        <a href="javascript:void(0);" class="btn btn-css" data-toggle="modal" onclick="preEdit(@b, @b!.patient, @b!.doctor, @b!.treatment)">
                                            <img style="height:25px" src="/assets/icons/edit.png" alt="buttonpng" border="0" data-toggle="tooltip" data-placement="top" title="Edit">
                                        </a>
                                    </div>
                                    <div class="delete-btn">
                                        <a href="javascript:void(0);" class="btn btn-css" data-toggle="modal" onclick="deleteRecord(@b.GetId())">
                                            <img style="height:25px" src="/assets/icons/delete.png" alt="buttonpng" border="0" data-toggle="tooltip" data-placement="top" title="Delete">
                                        </a>
                                    </div>
                                    <div class="invoice-btn">
                                        <a href="javascript:void(0);" class="btn btn-css" data-toggle="modal" onclick="showInvoice(@b, @b!.patient, @b!.doctor, @b!.treatment, @b!.payment)">
                                            <img style="height:25px" src="/assets/icons/form.svg" alt="buttonpng" border="0" data-toggle="tooltip" data-placement="top" title="Invoice">
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("~/Views/Appointment/Script.cshtml")
}
@await Html.PartialAsync("~/Views/Appointment/Save.cshtml")
@await Html.PartialAsync("~/Views/Appointment/Invoice.cshtml")
