@using ToothCare.Domain.Entities;
@model PatientViewModel
@{
    ViewData["Title"] = "Patients";
    ViewData["User"] = Model.User;
    ViewData["UserName"] = Model?.User?.GetFirstName() + " " + Model?.User?.GetLastName();
    ViewData["UserDesignation"] = Model?.User?.GetDesignation();
}


<div class="body-container">
    <div class="top-section">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2 class="breadcrumb-header">
                Patients
            </h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="Home/index">
                        <img src="~/assets/icons/home.png" height="22" alt="menu icon" class="img-responsive logo" data-toggle="tooltip" data-placement="top" title="Menu">
                    </a>
                </li>
                <li class="breadcrumb-item">Patients</li>
            </ul>
        </div>
        <div class="add-button-container">
            <a href="javascript:void(0);" class="btn btn-css" data-toggle="modal" onclick="preAdd()">
                <img style="width:60px" src="/assets/icons/addNew.png" alt="buttonpng" border="0" data-toggle="tooltip" data-placement="top" title="Add New">
            </a>
        </div>
    </div>
    <div class="table-outer-container">
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Mobile No
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Illness
                        </th>
                        <th>
                            Alergies
                        </th>
                        <th>
                            Emergency Contact
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var b in Model!.AllList!)
                    {
                        var email = b.GetEmail();
                        var mobileNo = b.GetMobileNo();
                        var address = b.GetAddress();
                        var illness = b.GetIllness();
                        var allergies = b.GetAlergies();
                        var emergencyCOntact = b.GetemergencyContact();
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => b.firstName) @Html.DisplayFor(modelItem => b.lastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => mobileNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => illness)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => allergies)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => emergencyCOntact)
                            </td>
                            <td>
                                <div class="action-button-container">
                                    <div class="edit-btn">
                                        <a href="javascript:void(0);" class="btn btn-css" data-toggle="modal" onclick="preEdit(@b)">
                                            <img style="height:25px" src="/assets/icons/edit.png" alt="buttonpng" border="0" data-toggle="tooltip" data-placement="top" title="Add New">
                                        </a>
                                    </div>
                                    <div class="delete-btn">
                                        <a href="javascript:void(0);" class="btn btn-css" data-toggle="modal" onclick="deleteRecord(@b.GetId())">
                                            <img style="height:25px" src="/assets/icons/delete.png" alt="buttonpng" border="0" data-toggle="tooltip" data-placement="top" title="Add New">
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("~/Views/Patient/Script.cshtml")
}
@await Html.PartialAsync("~/Views/Patient/Save.cshtml")